xml/xmldicom.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:xd="xmldicom.xsd" 
    targetNamespace="xmldicom.xsd" 
    elementFormDefault="unqualified"    
    >

    <!-- dataset :flat list of a(ttributes) ======================== -->
    
    <xs:element name="dataset">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="xd:a"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    
    <!-- a(ttribute) alternative value representation ============== -->
    
    <xs:element name="a">
        <xs:alternative test="@r='AE'" type="xd:ae"/>
        <xs:alternative test="@r='AS'" type="xd:as"/>
        <xs:alternative test="@r='AT'" type="xd:at"/>
        <xs:alternative test="@r='CS'" type="xd:cs"/>
        <xs:alternative test="@r='DA'" type="xd:da"/>
        <xs:alternative test="@r='DS'" type="xd:ds"/>
        <xs:alternative test="@r='DT'" type="xd:dt"/>
        <xs:alternative test="@r='FD'" type="xd:fd"/>
        <xs:alternative test="@r='FL'" type="xd:fl"/>
        <xs:alternative test="@r='IS'" type="xd:is"/>
        <xs:alternative test="@r='LO'" type="xd:lo"/>
        <xs:alternative test="@r='LT'" type="xd:lt"/>
        <xs:alternative test="@r='OB'" type="xd:ob"/>
        <xs:alternative test="@r='OD'" type="xd:od"/>
        <xs:alternative test="@r='OF'" type="xd:of"/>
        <xs:alternative test="@r='OL'" type="xd:ol"/>
        <xs:alternative test="@r='OV'" type="xd:ov"/>
        <xs:alternative test="@r='OW'" type="xd:ow"/>
        <xs:alternative test="@r='PN'" type="xd:pn"/>
        <xs:alternative test="@r='SH'" type="xd:sh"/>
        <xs:alternative test="@r='SL'" type="xd:sl"/>
        <xs:alternative test="@r='SS'" type="xd:ss"/>
        <xs:alternative test="@r='ST'" type="xd:st"/>
        <xs:alternative test="@r='SV'" type="xd:sv"/>
        <xs:alternative test="@r='TM'" type="xd:tm"/>
        <xs:alternative test="@r='UC'" type="xd:uc"/>
        <xs:alternative test="@r='UI'" type="xd:ui"/>
        <xs:alternative test="@r='UL'" type="xd:ul"/>
        <xs:alternative test="@r='UN'" type="xd:un"/>
        <xs:alternative test="@r='UR'" type="xd:ur"/>
        <xs:alternative test="@r='US'" type="xd:us"/>
        <xs:alternative test="@r='UT'" type="xd:ut"/>
        <xs:alternative test="@r='UV'" type="xd:uv"/>
        <xs:alternative type="xd:attribute"/>
    </xs:element>


    <!-- a(ttribute) xml, @b (branch), @t (tagchain) and @r (vr) -->   
    
    
    <xs:simpleType name="hexaint">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-F]{8}(\.[0-9A-F]{8}){0,16}(\.)?"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="vr">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AE"/>
            <xs:enumeration value="AS"/>
            <xs:enumeration value="AT"/>
            <xs:enumeration value="CS"/>
            <xs:enumeration value="DA"/>
            <xs:enumeration value="DS"/>
            <xs:enumeration value="DT"/>
            <xs:enumeration value="FD"/>
            <xs:enumeration value="FL"/>
            <xs:enumeration value="IS"/>
            <xs:enumeration value="LO"/>
            <xs:enumeration value="LT"/>
            <xs:enumeration value="OB"/>
            <xs:enumeration value="OD"/>
            <xs:enumeration value="OF"/>
            <xs:enumeration value="OL"/>
            <xs:enumeration value="OV"/>
            <xs:enumeration value="OW"/>
            <xs:enumeration value="PN"/>
            <xs:enumeration value="SH"/>
            <xs:enumeration value="SL"/>
            <xs:enumeration value="SQ"/>
            <xs:enumeration value="SS"/>
            <xs:enumeration value="ST"/>
            <xs:enumeration value="SV"/>
            <xs:enumeration value="TM"/>
            <xs:enumeration value="UC"/>
            <xs:enumeration value="UI"/>
            <xs:enumeration value="UL"/>
            <xs:enumeration value="UN"/>
            <xs:enumeration value="UR"/>
            <xs:enumeration value="US"/>
            <xs:enumeration value="UT"/>
            <xs:enumeration value="UV"/>
            <xs:enumeration value=""/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="attribute">
        <xs:sequence/>
        <xs:attribute name="b" type="xd:hexaint" use="required"/>
        <xs:attribute name="t" type="xd:hexaint" use="required"/>
        <xs:attribute name="r" type="xd:vr" use="required"/>
        <xs:assert test="string-length(@b) - string-length(translate(@b, '.',''))=string-length(@t) - string-length(translate(@t, '.',''))"/>
    </xs:complexType>
    
    
<!-- =============================================================== -->    
<!--                       Value Representations                     -->
<!-- =============================================================== -->    


    <!-- AE (Application Entity) String -->
    <!--  
* leading and trailing spaces (20H) non-significant. 
* A value consisting solely of spaces shall not be used.
* Default Character Repertoire http://dicom.nema.org/medical/dicom/current/output/html/part05.html#chapter_E excluding character code 5CH (the BACKSLASH "\" in ISO-IR 6), and all control characters.
* 16 bytes maximum
    -->
    <xs:complexType name="ae">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:AE" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="AE">
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:maxLength value="16"/>
            </xs:restriction>
       </xs:simpleType>
    </xs:element>
    
    
    <!-- AS (Age String) String ==================================== -->
    <!-- 
nnnD, nnnW, nnnM, nnnY; 

where nnn shall contain 
the number of days for D, 
weeks for W, 
months for M, 
or years for Y.

Example: "018M" would represent an age of 18 months.
    -->
    <xs:complexType name="as">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:AS" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="AS">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[0-9][0-9][1-9][DWMY]"></xs:pattern>
            </xs:restriction>
        </xs:simpleType>        
    </xs:element>


    <!-- AT (Attribute Tag) String ================================= -->    
    <!-- 
*Ordered pair of 16-bit unsigned integers that is the value of a Data Element Tag.
*Example: A Data Element Tag of (0018,00FF) would be encoded as a series of 4 bytes in a Little-Endian Transfer Syntax as 18H,00H,FFH,00H.        
    -->
    <xs:complexType name="at">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:AT" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="AT">
        <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
                <xs:maxLength value="4"/>
            </xs:restriction>
        </xs:simpleType>                
    </xs:element>
    
    
    <!-- CS (Code String) String =================================== -->    
    <!-- 
*A string of characters identifying a controlled concept. 
*Leading or trailing spaces (20H) are not significant.   
*Uppercase characters, "0"-"9", the SPACE character, and underscore "_", of the Default Character Repertoire
*16 bytes maximum    
    -->
    <xs:complexType name="cs">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:CS" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="CS">
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:pattern value="[0-9A-Z_\s]*"></xs:pattern>
                <xs:maxLength value="16"/>
            </xs:restriction>
        </xs:simpleType>                
    </xs:element>
    
    
    <!-- DA (Date) String ========================================== -->    
    <!-- 
*A string of characters of the format YYYYMMDD; 
*where YYYY shall contain year, 
*MM shall contain the month, 
*and DD shall contain the day, 
*interpreted as a date of the Gregorian calendar system.
    -->
    <xs:complexType name="da">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:DA" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="DA">
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:pattern value="(19|20)[0-9][0-9](01|02|03|04|05|06|07|08|09|10|11|12)(01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31)"></xs:pattern>
            </xs:restriction>
        </xs:simpleType>                
    </xs:element>
    
    
    <!-- DS (Decimal String) String ================================ -->    
    <!-- 
*A string of characters representing either a fixed point number or a floating point number. 
*A fixed point number shall contain only the characters 0-9 with an optional leading "+" or "-" and an optional "." to mark the decimal point. 
*A floating point number shall be conveyed as defined in ANSI X3.9, with an "E" or "e" to indicate the start of the exponent. 
*Decimal Strings may be padded with leading or trailing spaces. 
*Embedded spaces are not allowed.
* Data Elements with multiple values using this VR may not be properly encoded if Explicit-VR Transfer Syntax is used and the VL of this attribute exceeds 65534 bytes.
*"0"-"9", "+", "-", "E", "e", "." and the SPACE 
*16 bytes maximum    
    -->
    <xs:complexType name="ds">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:DS" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="DS">
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:pattern value="([+-]?[0-9]*.?[0-9]*[eE]?[+-]?[0-9]*|NaN)"></xs:pattern>
                <xs:maxLength value="16"/>
            </xs:restriction>
        </xs:simpleType>                
    </xs:element>
    
    
    <!-- DT (Date Time) String ===================================== -->    
    <!-- 
*A concatenated date-time character string in the format: YYYYMMDDHHMMSS.FFFFFF[+-]ZZXX
*The components of this string, from left to right, are 
**YYYY = Year, 
**MM = Month, 
**DD = Day, 
**HH = Hour (range "00" - "23"), 
**MM = Minute (range "00" - "59"), 
**SS = Second (range "00" - "60").
**FFFFFF = Fractional Second contains a fractional part of a second (range "000000" - "999999").
**[+-]ZZXX is an optional suffix for offset from Coordinated Universal Time (UTC),  ZZ = Hours and XX = Minutes
*The year, month, and day shall be interpreted as a date of the Gregorian calendar system.
*A 24-hour clock is used. Midnight shall be represented by only "0000".
*The Fractional Second component, if present, shall contain 1 to 6 digits. 
*If Fractional Second is unspecified the preceding "." shall not be included. 
*The offset suffix, if present, shall contain 4 digits. 
*The string may be padded with trailing SPACE characters. 
*Leading and embedded spaces are not allowed.
*A component that is omitted from the string is termed a null component. 
*Trailing null components of Date Time indicate that the value is not precise to the precision of those components. 
*The YYYY component shall not be null. 
*Non-trailing null components are prohibited. 
*The optional suffix is not considered as a component.
*A Date Time value without the optional suffix is interpreted to be in the local time zone of the application creating the Data Element, unless explicitly specified by the Timezone Offset From UTC (0008,0201).
*UTC offsets are calculated as "local time minus UTC". The offset for a Date Time value in UTC shall be +0000.
*Note
**The range of the offset is -1200 to +1400.
**The RFC 2822 use of -0000 as an offset to indicate local time is not allowed.
**A Date Time value of 195308 means August 1953, not specific to particular day. 
**A Date Time value of 19530827111300.0 means August 27, 1953, 11;13 a.m. accurate to 1/10th second.
*The Second component may have a value of 60 only for a leap second.
*The offset may be included regardless of null components; e.g., 2007-0500 is a legal value.
*"0"-"9", "+", "-", "." and the SPACE character of Default Character Repertoire
*26 bytes maximum
    -->
    <xs:complexType name="dt">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:DT" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="DT">
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:maxLength value="26"/>
                <xs:pattern value="(19|20)[0-9][0-9]((01|02|03|04|05|06|07|08|09|10|11|12)((01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31)((00|01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23)([0-5][0-9](\.[0-9]{1,6})?)?)?)?)?([+-](00|01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23)[0-5][0-9])?"/>
            </xs:restriction>
        </xs:simpleType>                
    </xs:element>
    
    
    <!-- FL (Float) Number ========================================= -->    
    <xs:complexType name="fl">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:FL" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="FL" type="xs:float"/>
    
    
    <!-- FD (Float Double) Number ================================== -->    
    <xs:complexType name="fd">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:FD" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="FD" type="xs:double"/>
    
    
    <!-- IS (Integer String) String ================================ -->    
    <!-- 
*A string of characters representing an Integer in base-10 (decimal), 
*shall contain only the characters 0 - 9, 
*with an optional leading "+" or "-". 
*It may be padded with leading and/or trailing spaces. 
*Embedded spaces are not allowed.
*"0"-"9", "+", "-" and the SPACE character of Default Character Repertoire
*12 bytes maximum
    -->
    <xs:complexType name="is">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:IS" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="IS">
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:pattern value="[\s]*(0|[+-]?[1-9][0-9]{0,9})[\s]*"></xs:pattern>
                <xs:maxLength value="12"/>
            </xs:restriction>
        </xs:simpleType>                
    </xs:element>
    
    
    <!-- LO (Long String) String =================================== -->    
    <!-- 
*A character string that may be padded with leading and/or trailing spaces. The character code 5CH (the BACKSLASH "\" in ISO-IR 6) shall not be present, as it is used as the delimiter between values in multi-valued data elements. The string shall not have Control Characters except for ESC.
*Default Character Repertoire and/or as defined by (0008,0005) excluding character code 5CH (the BACKSLASH "\" in ISO-IR 6), and all Control Characters except ESC when used for ISO 2022 escape sequences.
*64 chars maximum
*The lengths of Value Representations for which the Character Repertoire can be extended or replaced are expressly specified in characters rather than bytes in Table 6.2-1. This is because the mapping from a character to the number of bytes used for that character's encoding may be dependent on the character set used.
    -->
    <xs:complexType name="lo">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:LO" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="LO">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[^\\]*"></xs:pattern>
                <xs:maxLength value="64"/>
            </xs:restriction>
        </xs:simpleType>                
    </xs:element>
    
    
    <!-- LT (Long Text (NOT MULTIVALUED)) String =================== -->    
    <!-- 
*A character string that may contain one or more paragraphs. It may contain the Graphic Character set and the Control Characters, CR, LF, FF, and ESC. It may be padded with trailing spaces, which may be ignored, but leading spaces are considered to be significant. Data Elements with this VR shall not be multi-valued and therefore character code 5CH (the BACKSLASH "\" in ISO-IR 6) may be used.
*Default Character Repertoire and/or as defined by (0008,0005) excluding Control Characters except TAB, LF, FF, CR (and ESC when used for ISO 2022 escape sequences).
*10240 chars maximum (see Note in Section 6.2)
    -->
    <xs:complexType name="lt">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:LT" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="LT">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="10249"/>
            </xs:restriction>
        </xs:simpleType>                
    </xs:element>
    
    
    <!-- OB (Other Byte) base64 ==================================== -->    
    <!-- 
*An octet-stream where the encoding of the contents is specified by the negotiated Transfer Syntax. OB is a VR that is insensitive to byte ordering (see Section 7.3). The octet-stream shall be padded with a single trailing NULL byte value (00H) when necessary to achieve even length.
    -->
    <xs:complexType name="ob">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:OB" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="OB" type="xs:base64Binary"/>
   
    
    <!-- OD (Other Double)  base64 ================================= -->    
    <!-- 
*A stream of 64-bit IEEE 754:1985 floating point words. OD is a VR that requires byte swapping within each 64-bit word when changing byte ordering (see Section 7.3).
    -->
    <xs:complexType name="od">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:OD" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="OD" type="xs:base64Binary"/>
    
    
    <!-- OF (Other Float) base64 =================================== -->    
    <!-- 
*A stream of 32-bit IEEE 754:1985 floating point words. OF is a VR that requires byte swapping within each 32-bit word when changing byte ordering (see Section 7.3).
    -->
    <xs:complexType name="of">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:OF" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="OF" type="xs:base64Binary"/>
    
    
    <!-- OL (Other Long) base64 ==================================== -->    
    <!--
*A stream of 32-bit words where the encoding of the contents is specified by the negotiated Transfer Syntax. OL is a VR that requires byte swapping within each word when changing byte ordering (see Section 7.3).
    -->
    <xs:complexType name="ol">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:OL" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="OL" type="xs:base64Binary"/>
    
    
    <!-- OV (Other 64-bit Very Long) base64 ======================== -->    
    <!-- 
*A stream of 64-bit words where the encoding of the contents is specified by the negotiated Transfer Syntax. OV is a VR that requires byte swapping within each word when changing byte ordering (see Section 7.3).
    -->
    <xs:complexType name="ov">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:OV" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="OV" type="xs:base64Binary"/>
    
    
    <!-- OW (Other Word) base64 ==================================== -->    
    <!-- 
*A stream of 16-bit words where the encoding of the contents is specified by the negotiated Transfer Syntax. OW is a VR that requires byte swapping within each word when changing byte ordering (see Section 7.3).
    -->
    <xs:complexType name="ow">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:OW" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="OW" type="xs:base64Binary"/>
    
    
    <!-- PN (Person Name) String =================================== -->    
    <!--
A character string encoded using a 5 component convention. The character code 5CH (the BACKSLASH "\" in ISO-IR 6) shall not be present, as it is used as the delimiter between values in multi-valued data elements. The string may be padded with trailing spaces. For human use, the five components in their order of occurrence are: family name complex, given name complex, middle name, name prefix, name suffix.

Note
HL7 prohibits leading spaces within a component; DICOM allows leading and trailing spaces and considers them insignificant.

Any of the five components may be an empty string. The component delimiter shall be the caret "^" character (5EH). There shall be no more than four component delimiters, i.e., none after the last component if all components are present. Delimiters are required for interior null components. Trailing null components and their delimiters may be omitted. Multiple entries are permitted in each component and are encoded as natural text strings, in the format preferred by the named person.

For veterinary use, the first two of the five components in their order of occurrence are: responsible party family name or responsible organization name, patient name. The remaining components are not used and shall not be present.

This group of five components is referred to as a Person Name component group.

For the purpose of writing names in ideographic characters and in phonetic characters, up to 3 groups of components (see Annex H, Annex I and Annex J) may be used. The delimiter for component groups shall be the equals character "=" (3DH). There shall be no more than two component group delimiters, i.e., none after the last component group if all component groups are present. The three component groups of components in their order of occurrence are: an alphabetic representation, an ideographic representation, and a phonetic representation.

Any component group may be absent, including the first component group. In this case, the person name may start with one or more "=" delimiters. Delimiters are required for interior null component groups. Trailing null component groups and their delimiters may be omitted.

Precise semantics are defined for each component group. See Section 6.2.1.2.

For examples and notes, see Section 6.2.1.1.

Default Character Repertoire and/or as defined by (0008,0005) excluding character code 5CH (the BACKSLASH "\" in ISO-IR 6) and all Control Characters except ESC when used for ISO 2022 escape sequences.

64 chars maximum per component group

(see Note in Section 6.2)
    -->
    <xs:complexType name="pn">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:PN" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="PN">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]*"/>
                <xs:maxLength value="324"/>
            </xs:restriction>
        </xs:simpleType>                
    </xs:element>
    
    
    <!-- SH (Short String) String ================================== -->    
    <!-- 
*A character string that may be padded with leading and/or trailing spaces. The character code 05CH (the BACKSLASH "\" in ISO-IR 6) shall not be present, as it is used as the delimiter between values for multiple data elements. The string shall not have Control Characters except ESC.
*Default Character Repertoire and/or as defined by (0008,0005) excluding character code 5CH (the BACKSLASH "\" in ISO-IR 6) and all Control Characters except ESC when used for ISO 2022 escape sequences.
    -->
    <xs:complexType name="sh">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:SH" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="SH">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="16"/>
            </xs:restriction>
        </xs:simpleType>                
    </xs:element>
    
    
    <!-- SL (Signed Long) Number =================================== -->    
    <!-- 
Signed binary integer 32 bits long in 2's complement form.
    -->
    <xs:complexType name="sl">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:SL" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="SL" type="xs:long"/>
    
     
    
    <!-- SS (Signed Short) Number ================================== -->    
    <!-- 
Signed binary integer 16 bits long in 2's complement form.
    -->
    <xs:complexType name="ss">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:SS" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="SS" type="xs:short"/>
    
    
    <!-- ST (Short Text) String ==================================== -->    
    <!--
*A character string that may contain one or more paragraphs. It may contain the Graphic Character set and the Control Characters, CR, LF, FF, and ESC. It may be padded with trailing spaces, which may be ignored, but leading spaces are considered to be significant. Data Elements with this VR shall not be multi-valued and therefore character code 5CH (the BACKSLASH "\" in ISO-IR 6) may be used.
*Default Character Repertoire and/or as defined by (0008,0005) excluding Control Characters except TAB, LF, FF, CR (and ESC when used for ISO 2022 escape sequences).
*1024 chars maximum (see Note in Section 6.2)
    -->
    <xs:complexType name="st">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:ST" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="ST">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="1024"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    
    
    <!-- SV (Signed 64-bit Very Long) String ======================= -->    
    <xs:complexType name="sv">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:SV" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="SV">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[+-]?([1-9][0-9]{0,17}|0)"/>
            </xs:restriction>
        </xs:simpleType>        
    </xs:element>
    
    
    <!-- TM (Time) String ========================================== -->    
    <!-- 
A string of characters of the format HHMMSS.FFFFFF; where HH contains hours (range "00" - "23"), MM contains minutes (range "00" - "59"), SS contains seconds (range "00" - "60"), and FFFFFF contains a fractional part of a second as small as 1 millionth of a second (range "000000" - "999999"). A 24-hour clock is used. Midnight shall be represented by only "0000" since "2400" would violate the hour range. The string may be padded with trailing spaces. Leading and embedded spaces are not allowed.

One or more of the components MM, SS, or FFFFFF may be unspecified as long as every component to the right of an unspecified component is also unspecified, which indicates that the value is not precise to the precision of those unspecified components.

The FFFFFF component, if present, shall contain 1 to 6 digits. If FFFFFF is unspecified the preceding "." shall not be included.

Examples:

"070907.0705 " represents a time of 7 hours, 9 minutes and 7.0705 seconds.

"1010" represents a time of 10 hours, and 10 minutes.

"021 " is an invalid value.

Note
The ACR-NEMA Standard 300 (predecessor to DICOM) supported a string of characters of the format HH:MM:SS.frac for this VR. Use of this format is not compliant.

See also DT VR in this table.

The SS component may have a value of 60 only for a leap second.


"0"-"9", "." and the SPACE character of Default Character Repertoire

In the context of a Query with range matching (see PS3.4), the character "-" is allowed.


14 bytes maximum

In the context of a Query with range matching (see PS3.4), the length is 28 bytes maximum.
    -->
    <xs:complexType name="tm">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:TM" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="TM">
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:pattern value="(00|01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23)([0-5][0-9]([0-5][0-9](\.[0-9]{1,6})?)?)?"/>
                <xs:maxLength value="14"/>
            </xs:restriction>
        </xs:simpleType>                
    </xs:element>
    
    
    <!-- UC (Unlimited Characters) String ========================== -->    
    <!-- 
*A character string that may be of unlimited length that may be padded with trailing spaces. The character code 5CH (the BACKSLASH "\" in ISO-IR 6) shall not be present, as it is used as the delimiter between values in multi-valued data elements. The string shall not have Control Characters except for ESC.
*Default Character Repertoire and/or as defined by (0008,0005) excluding character code 5CH (the BACKSLASH "\" in ISO-IR 6), and all Control Characters except ESC when used for ISO 2022 escape sequences.
*232-2 bytes maximum
    -->
    <xs:complexType name="uc">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:UC" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    
    <xs:element name="UC" type="xs:string"/>
    
    
    <!-- UI (Unique Identifier) UID String ========================= -->        
    <xs:complexType name="ui">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:UI" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="UI">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[12](\.[0-9]+)*"/>
                <xs:maxLength value="64"/>
            </xs:restriction>
        </xs:simpleType>        
    </xs:element>
    
    
    <!-- UL (Unsigned Long) Number================================== -->   
    <xs:complexType name="ul">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:UL" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="UL" type="xs:unsignedLong"/>
    
    
    <!-- UN (Unknown) Base64======================================== -->        
    <xs:complexType name="un">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:UN" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    
    <xs:element name="UN" type="xs:base64Binary"/>
    
    
    <!-- UR (Universal Resource Identifier/Locator) (URI/URL) String -->    
    <!-- 
A string of characters that identifies a URI or a URL as defined in [RFC3986]. Leading spaces are not allowed. Trailing spaces shall be ignored. Data Elements with this VR shall not be multi-valued.

Note
Both absolute and relative URIs are permitted. If the URI is relative, then it is relative to the base URI of the object within which it is contained.

The subset of the Default Character Repertoire required for the URI as defined in IETF RFC3986 Section 2, plus the space (20H) character permitted only as trailing padding.

Characters outside the permitted character set must be "percent encoded".

Note
The Backslash (5CH) character is among those disallowed in URIs.
    -->
    <xs:complexType name="ur">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:UR" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    
    <xs:element name="UR" type="xs:anyURI"/>
    
    
    <!-- US (Unsigned Short) Number ================================ -->    
    <!-- 
Unsigned binary integer 16 bits long.     
    -->
    <xs:complexType name="us">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:US" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>   
    <xs:element name="US" type="xs:unsignedShort"/>
    
    
    <!-- UT (Unlimited Text) String ================================ -->    
    <!-- 
A character string that may contain one or more paragraphs. It may contain the Graphic Character set and the Control Characters, CR, LF, FF, and ESC. It may be padded with trailing spaces, which may be ignored, but leading spaces are considered to be significant. Data Elements with this VR shall not be multi-valued and therefore character code 5CH (the BACKSLASH "\" in ISO-IR 6) may be used.

Default Character Repertoire and/or as defined by (0008,0005) excluding Control Characters except TAB, LF, FF, CR (and ESC when used for ISO 2022 escape sequences).

232-2 bytes maximum
    -->
    <xs:complexType name="ut">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:UT" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType> 
    <xs:element name="UT" type="xs:string"/>
    
    
    <!-- UV (Unsigned 64-bit Very Long) String ===================== -->    
    <!-- 
Unsigned binary integer 64 bits long. Represents an integer n in the range:

0 <= n < 264.
    -->
    <xs:complexType name="uv">
        <xs:complexContent>
            <xs:extension base="xd:attribute">
                <xs:sequence>
                    <xs:element ref="xd:UV" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="UV">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="([1-9][0-9]{0,18}|0)"/>
            </xs:restriction>
        </xs:simpleType>        
    </xs:element>

        
</xs:schema>
